h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}


section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}


form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}

