.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
    background-color: #fbfbfb;
}

.carousel{
    margin-top: 50px;        
}

/* alineacion al centro */
.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }